body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #eaf3e2;
}

#app {
  width: 100%;
  height: 100vh;
  background-color: #eaf3e2;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Architects Daughter', cursive;

}

#main-container {
  margin: 0 4rem;
}

/* SignIn */

#signInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  color: #9ca74e;
  font-family: 'Architects Daughter', cursive;
  font-size: 7rem;
  margin: 20rem 0 0 0;
  /* width: 50%; */
  -webkit-animation:bounce-in-top 2s both;animation:bounce-in-top 2s both;
  display: flex;
  justify-content: center;
}

@-webkit-keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

#signInButton, .submitButton   {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.9rem;
  background-color: #868d4f;
  margin: auto;
  color: #868d4f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(210, 210, 210);
  cursor: pointer;
  display:inline-block;
  /* width: 20%; */
  position:relative;
  border-color: #485852;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border: 1px solid #868d4f;
  outline: none;
  transition: .5s ease-in-out;
}

.submitButton:hover {
  transition: .5s ease-in-out;
  background: #868d4f;
  color: #eaf2e3
}

#signInButton:hover {
  transition: .5s ease-in-out;
  background: #868d4f;
  color: #eaf2e3
}

/* QuestionCard */

#carousel {
  height: 100vh;
}


/* QuestionCard */

.container {
  font-family: 'Architects Daughter', cursive;
  color: #9ca74e;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  height: 100vh;
  /* position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  margin-left: 20%;
  margin-right: 20%;
}

#questionTitle {
  font-size: 2rem;
  background-color: #868d4f;
  color: #eaf2e3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(138, 138, 138);
}

.buttons {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
  background-color: #868d4f;
  color: #eaf2e3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(210, 210, 210);
  cursor: pointer;
  display:inline-block;
  width: 80%;
  position:relative;
  border-color: #485852
}

.buttonSpacing {
  padding: 20px;
  margin-top: 5px;
}

#html {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #485852;
  border-radius: 50%;
  margin-right: 1rem;
}


.rec.rec-arrow {
  background-color: #485852;
  color: #eaf2e3;
  margin-left:5%;
  margin-right:5%;
}

.rec.rec-arrow:hover {
  background-color: #a69b63 ;
}

/*# sourceMappingURL=index.css.map */

/* NavBar */


.navBar {
  font-size: 1.7rem;
  font-family: 'Architects Daughter', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  /* margin-left: 60%; */
}

#navTitle {
  display: flex;
  justify-content: flex-start;
  font-size: 3rem;
  color: #9da64e;
}

#nav-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.navButtons{
  font-family: 'Architects Daughter', cursive;
  font-size: 1.8rem;
  color: #485852;
  margin: auto 1rem;
  color: #868d4f;
  /* padding: 20px; */
  border-radius: 10px;
  cursor: pointer;
  display:inline-block;
  width: 100%;
  position:relative;
  border-color: #485852;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  transition: color 1s ease-in-out;
  transition: text-decoration 1s ease-in-out;
  text-decoration: underline solid transparent;
}

.navButtons:hover {
  transition: .5s ease-in-out;
  background: #868d4f;
  color: #161717;
  text-decoration: underline solid Currentcolor; 
}

/* SignIn Container */

#homeContainer {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 2rem 3rem;

}

.homeColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* rankings tables */

#tableTitle {
  color: #485953;
  font-family: 'Architects Daughter', cursive;
  font-size: 3rem;
  margin: auto;
  /* width: 50%; */
  display: flex;
  justify-content: center;
}

.rankingsContainer > header {
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}

.rankingsContainer > header h1 {
  font-weight: 600;
	font-size: 3em;
	margin: 0;
}

.wrapper {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	/* width: 90%; */
	max-width: 2000px;
	overflow: hidden;
}

table {
    font-size: 1.5rem;
    border-collapse: collapse;
    width: 100%;
    background: #6a8c5f68;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:10px;
    -moz-border-radius:10px;
    
}

th {
    background-color: #485852;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td {
    padding: 1em 1.5em;
    text-align: left;
    color: #e6f5e8;
}

th {
  padding: 1em 1.5em;
  text-align: left;
  color: #e6f5e8;
}

tbody th {
	background-color: #00c278;
}
tbody tr:nth-child(2n-1) {

    background-color: #878d4e
    ;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: #9da64e;
}

td.rank {
	text-transform: capitalize;
}

/* Pie Chart */

#profile-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pie-chart {
  margin-top: 1rem;
}

.custom-tooltip {
  background-color: white;
  color: black;
  font-size: 1rem;
  opacity: 0.8;
  border: 1px solid black;
  border-radius: 0.6rem;
  padding: 5px;
}

/* -------------------------------------------------------------- */
/* -------------------------- BAR CHART ------------------------- */
/* -------------------------------------------------------------- */

#bar-chart-div {
  margin-top: 3rem;
}

#bar-chart {
  margin-top: 1rem;
}

/* -------------------------------------------------------------- */
/* ---------------------------- ABOUT --------------------------- */
/* -------------------------------------------------------------- */

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-desc {
  color: darkgreen;
  font-family: Arch;
  font-size: 1.5rem;
  font-family: 'Architects Daughter', cursive;

}

#about-count {
  font-size: 4rem;
  font-weight: bolder;
  color: darkgreen;
}

#go-back {
  font-family: 'Architects Daughter', cursive;
  font-size: 1rem;
  background-color: #868d4f;
  margin: auto;
  color: #868d4f;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(210, 210, 210);
  cursor: pointer;
  display:inline-block;
  /* width: 20%; */
  position:relative;
  border-color: #485852;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: 1px solid #868d4f;
  outline: none;
  transition: .5s ease-in-out;
}

#go-back:hover {
  transition: .5s ease-in-out;
  background: #868d4f;
  color: #eaf2e3;
}
#about-img {
  margin: 3rem 0;
}

#greta {
  padding: 3rem;
}





@media screen and (min-width: 1200px) and (max-width: 1600px) {

}

@media screen and (min-width: 813px) and (max-width: 1199px) {
  #main-container {
    margin: 0;
  }
  #homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}